matrix:
  include:
  - os: linux
    python: 2.7
    env: PYTHON_VERSION=2.7
  - os: linux
    python: 3.5
    env: PYTHON_VERSION=3.5
  - os: linux                                                                   
    python: 3.6                                                                 
    env: PYTHON_VERSION=3.6     
  - os: linux
    python: 3.7
    env: PYTHON_VERSION=3.7
  - os: osx
    language: generic
    env:
    - PYTHON_VERSION=2.7
  - os: osx
    language: generic
    env:
    - PYTHON_VERSION=3.5
  - os: osx                                                                     
    language: generic                                                           
    env:                                                                        
    - PYTHON_VERSION=3.6  
  - os: osx
    language: generic
    env:
    - PYTHON_VERSION=3.7

compiler:
    - gcc

before_install:
  - if [ "$TRAVIS_OS_NAME" == linux ]; then MINICONDAVERSION="Linux"; else MINICONDAVERSION="MacOSX"; fi
  - if [ "$PYTHON_VERSION" == "2.7" ]; then wget http://repo.continuum.io/miniconda/Miniconda2-latest-$MINICONDAVERSION-x86_64.sh -O miniconda.sh; fi
  - if [ "$PYTHON_VERSION" != "2.7" ]; then wget http://repo.continuum.io/miniconda/Miniconda3-latest-$MINICONDAVERSION-x86_64.sh -O miniconda.sh; fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"

install:
  - conda create --yes -n py_stringsimjoin_test_env python=$PYTHON_VERSION
  - source activate py_stringsimjoin_test_env
  - python --version
  - which gcc
  - pip install --upgrade pip
  - pip install "numpy<1.19"
  - pip install pandas joblib six nose Cython pyprind==2.9.8 py_stringmatching coveralls
  - python setup.py build_ext --inplace

script:
  - coverage run -m nose
  - uname -a

after_success:
  - coveralls
