include README.rst
include requirements.txt
include LICENSE
recursive-include LICENSES *
recursive-include py_stringsimjoin/datasets *.csv *.csv.gz
recursive-include py_stringsimjoin/tests *.csv *.csv.gz                      
